.aside-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  // mobile
  @media (max-width: 767px) {
    position: unset;
    margin-bottom: 3%;
  }
  .aside-card {
    height: 150px;
    width: 263px;
    // mobile
    @media (max-width: 767px) {
      width: 100%;
    }
    color: white;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      font-weight: 900;
      font-family: "Raleway", sans-serif;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
    }
    p {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
    }
  }
  .aside-card-event {
    background: #39bef6;
  }
  .aside-card-fav {
    background: #45e493;
  }
  .aside-card-comment {
    background: #ff445f;
  }
}
