$grey: #f4f6f9;

//  Nav
.navbar {
  height: 125px;
  background: $grey;
  padding: 0 150px;
  // mobile
  @media (max-width: 767px) {
    padding: 0 30px;
  }
}

// Footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  background: $grey;
}
